@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
    background-color: white;
}

.background-container {
    background-image: url('/image/hero.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}
.logo-bg{
    background-image: url('/image/hero.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}
.hero__image-overlay{
    display: overlay;
    background-image: url('/image/hero.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}

.footer__links {
    @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
  }
  
.footer__link {
    @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights-link {
    @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
.hero-text {
    display: overlay;
    background-image: url('/hero_text-bg.png');
    background-size: cover; 
    background-repeat: no-repeat;
}
.hero__image-overlay {
    @layer absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
  }